.ctz-contact-form
  md-input-container
    background-color: rgba(255, 255, 255, 0.1) !important
    label
      color rgba(255, 255, 255, 0.3) !important
    input, textarea
      border none !important
      color rgba(255, 255, 255, 0.3) !important

  .md-button
    width 30%
    margin 15px 0
