md-card
  md-toolbar: h2.md-toolbar-tools.color-white Enviar Mensage

  form.md-no-empty-errors-spacer(
    ng-submit='$ctrl.save()'
    layout='column'
    layout-padding
  )
    md-input-container
      label Email
      input(type='email' ng-model='$ctrl.model.senderEmail' required)

    md-input-container
      label Asunto
      input(ng-model='$ctrl.model.subject')

    md-input-container
      label Mensaje
      textarea(ng-model='$ctrl.model.body' rows=4)

    md-button.md-primary.md-raised.color-white(type='submit') Enviar
