@import url('https://fonts.googleapis.com/css?family=Dosis');

ui-view
  display block

*, *::after, *::before
  font-family 'Dosis', sans-serif

.md-toolbar
  &--transparent
    background-color transparent !important

  &--white
    background-color white !important
    color black !important

.md-button
  &--facebook
    background-color #3b5998 !important
    color white

    svg
      fill white

.md-icon-button
  &--with-image
    padding 0 !important

    img
      width 100% !important
      height 100% !important

.md-no-empty-errors-spacer
  .md-errors-spacer:empty
    height 0 !important
    min-height 0 !important

  md-input-container
    margin-bottom 0 !important

.md-icon--color-black
  svg
    fill black

[ng-click], [ngf-select], [ngf-drop]
  cursor pointer
