@import url('https://fonts.googleapis.com/css?family=Dosis');

*, *::after, *::before
  font-family 'Dosis', sans-serif

.md-toolbar
  &--transparent
    background-color transparent !important

.md-button
  text-transform none !important
