.md-title Modalidades de clase

md-divider

div(layout='column' layout-padding)
  md-checkbox(ng-model='$ctrl.teacher.teachesOnline')
    | Enseño online

  md-checkbox(ng-model='$ctrl.teacher.teachesAtStudentsPlace')
    | Enseño en domicilio del estudiante

  md-checkbox(ng-model='$ctrl.teacher.teachesAtOwnPlace')
    | Enseño en mi domicilio

  md-checkbox(ng-model='$ctrl.teacher.teachesAtPublicPlace')
    | Enseño en lugar público
