div(layout='column')
  md-input-container
    label Descripción corta
    textarea(ng-model='$ctrl.teacher.shortDesc')

  md-input-container
    label Descripción larga
    textarea(ng-model='$ctrl.teacher.longDesc')
