.md-title Datos Generales
md-divider

div(layout='column')  
  md-input-container
    label Nombre
    input(ng-model='$ctrl.teacher.firstName')
    
  md-input-container
    label Apellido
    input(ng-model='$ctrl.teacher.lastName')
    
  md-input-container
    label Teléfono
    input(
      ng-model='$ctrl.teacher.phoneNumber'
      type='string'
    )
