.md-title Datos Generales
md-divider

div(layout='column')
  md-input-container
    label Barrios
    md-select(
      ng-model='$ctrl.teacher.neighborhoods'
      multiple
    )
      md-option(
        ng-repeat='n in $ctrl.neighborhoods'
        ng-value='n'
        ng-bind='n'
      )
