.md-title Cuenta de MercadoLibre

md-divider

ctz-spacer-xs

div(layout='column')
  md-button(style='margin-left: 0; margin-right: 0;') Vincular
  md-button(style='margin-left: 0; margin-right: 0;') Desvincular
  md-button(style='margin-left: 0; margin-right: 0;') Cambiar
