div(
  block='ctz-sign-in-form'
  layout-fill
  layout='column'
  layout-align='center center'
)
  md-card
    md-button.md-raised.md-primary(ui-sref='app.students.signIn')
      | Ingresar como estudiante

    md-divider

    md-button.md-raised.md-primary(ui-sref='app.teachers.signIn')
      | Ingresar como profesor
