.ctz-sign-in-form-wrapper
  &__student-form-wrapper
    background url('/images/student_form_background.jpg')
    background-size cover

  &__teacher-form-wrapper
    background url('/images/teacher_form_background.jpg')
    background-size cover
