md-card(
  block='ctz-teacher-card'
  layout='column'
  layout-fill
)
  img.md-card-image(ng-src="{{:: $ctrl.teacher.avatar }}")
  
  //div(layout='row' layout-align='center center')
    // ctz-stars-input

  md-card-content(flex)
    p(ng-bind=':: $ctrl.teacher.shortDesc')

  md-button.md-primary.md-raised(
    ng-click='$ctrl.AppointmentFormDialog.show($ctrl.teacher, $event, $ctrl.filters)'
  ) Reservar
