doctype html
html(ng-app='cognituzFront')
  head
    title Cognituz
    link(rel='stylesheet' href='/vendor.css')
    link(rel='stylesheet' href='/app.css')

  body
    ctz-app

    script(src='/vendor.js')
    script(src='/app.js')
