ctz-period-picker
  display block

.ctz-period-picker
  background yellow

  &__wday
    background blue
    color white
    border 1px solid black

  &__wday-header
    margin 3px
    padding 3px
    background aliceblue
    color black

  &__wday-body
    margin 3px
    background aliceblue
    color black
    position relative

  &__segment
    background red
    overflow hidden
    position absolute
    &:hover
      overflow auto
