ctz-period-picker
  display block

.ctz-period-picker
  background yellow

  &__wday
    background blue
    color white
    border 1px solid black

  &__wday-header
    margin 3px
    padding 3px
    background aliceblue
    color black

  &__wday-body
    margin 3px
    background aliceblue
    color black
    position relative
    cursor pointer

  &__segment
    background rgba(blue, 0.7)
    overflow hidden
    position absolute
    width 100%
    pointer-events none

    &--selected
      background green
      z-index 1

    &--blacklisted
      background olive
      z-index 10

  &__step
    &:nth-child(even)
      background orange

    &:nth-child(odd)
      background limegreen

