ctz-period-picker
  display block

.ctz-period-picker
  //&__week-day
  //&__week-day-header
  &__week-day-body
    cursor pointer
    position relative

  &__segment
    position absolute
    width 100%
    background lightgreen

    &--selected
      pointer-events none
      background tomato

    &--confirmed
      pointer-events none
      background wheat
