ctz-virtual-classroom
  display block

.ctz-virtual-classroom
  &__tool-options
    > div
      &:first-child
        padding-left 8px
      padding-right 8px
  .chat-box
    img
      margin 5px
      width 25px
      height 25px
      border-radius 50%
    p
      margin 5px !important
