div(
  block='ctz-virtual-classroom'
  layout-fill
  layout='column'
)
  div(layout='row' style='background-color: wheat')
    form(ng-submit='$ctrl.createRoom()')
      md-input-container
        label RoomName
        input(ng-model='$ctrl.roomName')

    form(ng-submit='$ctrl.joinRoom()')
      md-input-container
        label RoomNameToJoin
        input(ng-model='$ctrl.roomToJoin')

  div(flex layout='row' style='background-color: tomato')
    .whiteboard-wrapper(flex=75 style='background-color: aliceblue')
      ul: li(ng-repeat='line in $ctrl.log' ng-bind=':: line')

    .comms-wrapper(
      flex=25
      layout='column'
    )
      video(
        autoplay
        style='\
          display: block;         \
          width: 100%;            \
          height: auto;           \
          background-color: black \
        '
      )

      div(flex style='background-color: blue')
        | Look mah! Imma chat!
